In [64]:
import pickle

import pandas as pd
import xgboost
from sklearn.metrics import mean_absolute_error

print("xgboost", xgboost.__version__)

xgboost 1.7.3

In [67]:
with open('2018-01-01-2022-07-31.bin', 'rb') as f_in:
    data = pickle.load(f_in)['data']

In [68]:
dtypes = {'period': 'datetime64',
          'value': int}

df = pd.DataFrame.from_dict(data).astype(dtypes)
df.head()

,period,subba,subba-name,parent,parent-name,timezone,value,value-units
0,2022-07-31,ME,Metropolitan Edison zone,PJM,"PJM Interconnection, LLC",Central,43531,megawatthours
1,2022-07-31,Jica,Jicarilla Apache Nation,PNM,Public Service Company of New Mexico,Central,49,megawatthours
2,2022-07-31,WR,Westar Energy,SWPP,Southwest Power Pool,Central,103965,megawatthours
3,2022-07-31,KCPL,Kansas City Power & Light,SWPP,Southwest Power Pool,Eastern,51999,megawatthours
4,2022-07-31,ZONJ,New York City,NYIS,New York Independent System Operator,Eastern,160843,megawatthours

In [69]:
feature_cols = ['period', 'subba', 'timezone']
target_col = ['value']

In [70]:
def create_features(df: pd.DataFrame) -> pd.DataFrame:
    """
    Extract additional features from existing ones.

    Args:
        df: a DataFrame containing features
    Returns:
        df: a DataFrame with added features
    """

    return df

In [58]:
features = df[feature_cols]
target = df[target_col]

In [47]:
filt = (features['subba'] == 'ZONJ') & (features['timezone'] == 'Eastern')
features[filt]

         period subba timezone
319  2022-07-31  ZONJ  Central
538  2022-07-30  ZONJ  Central
969  2022-07-29  ZONJ  Central
1601 2022-07-28  ZONJ  Central
1878 2022-07-27  ZONJ  Central
2099 2022-07-26  ZONJ  Central
2848 2022-07-25  ZONJ  Central
3071 2022-07-24  ZONJ  Central
3550 2022-07-23  ZONJ  Central
3987 2022-07-22  ZONJ  Central
4328 2022-07-21  ZONJ  Central
4821 2022-07-20  ZONJ  Central